.letter{
    width: 55px;
    height: 55px;
    border: rgb(187, 187, 187), 3px, solid;
    border-radius: 10px;
    margin: 2px;
    font-size: 40px;
    text-align: center;
    font-family: Alfi;
}
#img{
    width: 100%;
    height: auto;
    
}
body {
    background-image: url('../img/16702c00-9253-4850-9ccb-f26d874eee29.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
h1{
    font-family: Henny Penny;
    font-size: 110px;
    color: white;
    position: absolute;
    left: 600px;
    top: -65px;
}
#submit{
    font-family: Avia;
    width: 60px;
    height: 35px;
    color: gray;
    font-size: 18px;
}
#timer{
    color: hsl(0, 0%, 100%);
    position: absolute;
    right: 100px;
    bottom: 100px;
    font-size: 60px;
    font-family: Avia;
    text-shadow: 0 0 18px rgb(212, 177, 144);
}
h2 {
    font-family: Henny Penny;
    font-size: 500px;
    color: white;
    opacity: 0.2;
    position: absolute;
    top: -350px;
    left: 40px;
}