body {
    background-image: url("../img/16702c00-9253-4850-9ccb-f26d874eee29.jpg");
    background-size: cover;
    color: #42a7c0;
    font-family: 'Ink Free';
}

.container {
    position: absolute;
    top: 100px;
    left: 600px;
    width: 25%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.login-content img {
    margin-top: 20px;
    height: 100px;
}

.login-content h2 {
    font-family: 'Ink Free';
    margin: 15px;
    text-transform: uppercase;
    font-size: 50px;
}

input {
    border: none;
    border-bottom: solid 2px #42a7c0;
    outline: none;
    background: none;
    padding: 5px;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    margin: 15px;
}


.links:hover {
    color: #2cd8d8;
    cursor: pointer;
}

.btn {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(to right, rgb(245, 142, 142),rgb(192, 149, 233),rgb(106, 180, 202));
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Ink Free';
    margin: 15px;
    transition: 0.5s;
    cursor: pointer;
    
}

.btn:hover {
    background-position: right;
    background-image: linear-gradient(to right, rgb(106, 180, 202),rgb(192, 149, 233), rgb(245, 142, 142));
    transform: scale(104%);
}

#signUpMassage,
#logInMassage {
    color: red;
}

.i{
    color: rgb(143, 143, 143);
}
  
h1 {
    font-family: Henny Penny;
    font-size: 500px;
    color: white;
    opacity: 0.2;
    position: absolute;
    top: -350px;
    left: 40px;
}